{{extend 'layout_wh.html'}}

<div>

<!-- <h2 id='mytest'>h222222</h2> -->

</div>
<div id='mycontent'>
</div>


<script>

url = "{{=URL('wcmcdatasheet_render/wcmcdatasheet', args=[wdpaid])}}";
$.get(url, function(data){
	d2 = JSON.parse(data);
	// load content
	$('#mycontent').html(d2.mycontent);

	// add anchor in navigation bar
	$('#mycontent h2').each(function(){
	
		//$(this).append('<a href="#' + $(this).html() + '"/>');
//    		$(this).attr({
//    			'id': $(this).html()
//    		})

		//$(this).append('<a href="#' + $(this).html() + '">' + '#</a>');
	
		$('#doc_navi ul').append('<li><a href="#' + $(this).html() + '">' + $(this).html() +'</a></li>');
	});


	// add id
	$('#mycontent h2').each(function(){	

		$(this).attr({
			'id': $(this).html()
		});
		
		// add a link		
		//$(this).append('<a href="#' + $(this).html() + '">' + 'link</a>');
	});





});



$(document).ready(function() {
	//url = "http://127.0.0.1:8000/test/default/wcmcdatasheet_render/wcmcdatasheet/" + "{{=wdpaid}}";
	});


</script>
