.mylist {
	border:0 #e1e1e1 solid;
	padding-left: 5px;
	border-left-width: 1px;
}

.mylist li {
	padding-bottom: 5px;
}

.mylist li a {
  color: #818181;
  /*font-size: 12px;*/
  padding-top: 5px;
  padding-left: 5px
}

.mylist li a:hover {
  /*transition-property: font-size;*/
  /*transition-duration: 0.2s;*/
  /*transition-delay: 2s;*/
  color: #a22;
  /*font-size: 16px;*/
/*  border:0 #577492 solid;
  border-left-width:3px;*/
  /*background: #f8f8f8;*/
}

.search-box {
	margin-top: 20px;
	margin-bottom: 20px;
}


.mymap {
  height: 300px;
  width: 100%;
}

#lg {
  padding: 10px 10px 10px 10px;
  background-color: #eee;
}

#lg ul, li {
    padding-left: 0px;
    padding-top: 5px;
    list-style: outside none none;
}

#lg li .color {
    border: 1px solid #555;
    float: left;
    margin-right: 5px;  
    width: 16px;
    height: 16px;
}

#lg li .text {
    margin-left: 5px;
    /*font-size:12px;*/
    /*white-space: pre-wrap;*/
    /*white-space: nowrap;*/
}

