.mylist {
	border:0 #e1e1e1 solid;
	padding-left: 5px;
	border-left-width: 1px;
}

.mylist li {
	padding-bottom: 5px;
}

.mylist li a {
  color: #818181;
  /*font-size: 12px;*/
  padding-top: 5px;
  padding-left: 5px
}

.mylist li a:hover {
  /*transition-property: font-size;*/
  /*transition-duration: 0.2s;*/
  /*transition-delay: 2s;*/
  color: #a22;
  /*font-size: 16px;*/
/*  border:0 #577492 solid;
  border-left-width:3px;*/
  /*background: #f8f8f8;*/
}

.search-box {
	margin-top: 20px;
	margin-bottom: 20px;
}


.mymap {
  height: 300px;
  width: 100%;
  border: 0.5px solid #eee;
}

#lg {
  padding: 10px 10px 10px 10px;
  /*background-color: #eee;*/
}

#lg ul {
  padding-left: 0px;
}

#lg ul li {
  display: inline-block;
  margin-right: 10px;
  list-style-type: none;
}

#lg li .color {
  border: 1px solid #555;
  display: inline-block;
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 2px;
}

#lg li .text {
  float: left;
}


.vis_element {
  margin-bottom: 5px;
  padding-left: 2px;
  padding-right: 2px;
}

#mysvg {
  overflow: hidden;
  margin: auto;
  display: block;
}